
.Screen {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.interactions {
  margin-top: 22px;
  border: 5px solid;
  border-radius: 6px;
  padding: 15px;
  font-size: 22px;
  max-width: 90%;
    width: 90%;
}