.sequence {

  .red {
    background-color: red;
  }
  .green {
    background-color: green;
  }
  .purple {
    background-color: purple;
  }
  .skyblue {
    background-color: #0094FF;
  }
  .orange {
    background-color: #E97000;
  }
  .yellow {
    background-color: #E9C300;
  }
  .small-icon {
    display: inline-block;
    margin-left: 0px;
    margin-right: 19px;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    position: relative;
    left: -4px;

    img {
      width: 50px;
      height: 50px;
    }
  }
  .content {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      height: 100px;
    width: 100px;
    }
  }

  .line {
    display: inline-block;
    width: 50px;
    background-color: white;
    height: 4px;
    margin-right: 19px;
  }
  .input {
    font-size: 41px;
    margin-bottom: 0px;
    letter-spacing: 29px;
    padding-left: 5px;
    height: 34px;
  }
  .hint {
    position: absolute;
    bottom: 0px;
  }
  .hint-container {
    position: absolute;
    background: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .close {
      position: absolute;
      bottom: 1px;
    }
  }
}

