.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;

}

.looser {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  display: inline-block;
    width: 28px;
    margin-left: 5px;
    position: relative;
    top: 4px;
}
.enter {
  position: absolute;
    bottom: 0px;
    right: 14px;
}

.timer {
  position: absolute;
  bottom: 12px;
  right: 54px;
}
.Screen {
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  
      .content {
  
        display: flex;
        justify-content: center;
        align-items: center;
          height: 50vh;
      
      }
  }
  .interactions {
    margin-top: 22px;
    border: 5px solid;
    border-radius: 6px;
    padding: 15px;
    font-size: 22px;
    max-width: 90%;
      width: 90%;
      height: 30vh;
      position: relative;
      line-height: 2rem;
  }

.hackerblink {
    visibility: hidden;
    animation: blink-animation-hacker 10s;
    -webkit-animation: blink-animation-hacker 10s;
    animation-fill-mode: forwards;

}
.blink {
    animation: blink-animation 0.9s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.9s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @keyframes fight-timer {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }

  }
  @keyframes blink-animation-hacker {
    10% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: visible;
    }
    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
      visibility: visible;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
  }
  @-webkit-keyframes blink-animation-hacker {
    10% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: visible;
    }
    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
      visibility: visible;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
  }