.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;

}

.looser {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  display: inline-block;
    width: 28px;
    margin-left: 5px;
    position: relative;
    top: 4px;
}
.enter {
  position: absolute;
    bottom: 0px;
    right: 14px;
}

.timer {
  position: absolute;
  bottom: 12px;
  right: 54px;
}
.Screen {
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  
      .content {
  
        display: flex;
        justify-content: center;
        align-items: center;
          height: 50vh;
      
      }
  }
  .interactions {
    margin-top: 22px;
    border: 5px solid;
    border-radius: 6px;
    padding: 15px;
    font-size: 22px;
    max-width: 90%;
      width: 90%;
      height: 30vh;
      position: relative;
      line-height: 2rem;
  }

.hackerblink {
    visibility: hidden;
    animation: blink-animation-hacker 10s;
    -webkit-animation: blink-animation-hacker 10s;
    animation-fill-mode: forwards;

}
.blink {
    animation: blink-animation 0.9s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.9s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @keyframes fight-timer {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }

  }
  @keyframes blink-animation-hacker {
    10% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: visible;
    }
    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
      visibility: visible;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
  }
  @-webkit-keyframes blink-animation-hacker {
    10% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: visible;
    }
    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
      visibility: visible;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  @-webkit-keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
      transform: scale(0.1) translate3d(2000px, 0, 0);
    }
  }
  @keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
      transform: scale(0.1) translate3d(2000px, 0, 0);
    }
  }
  .animate__zoomOutRight {
    -webkit-animation-name: zoomOutRight;
    animation-name: zoomOutRight;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }


  $size: 6px; //size of pixels
$tick: 0.2s;
$b0: transparent;
$b1: #000; //black
$b2: #fff; //white
$b3: #fbbcb1; //mario skin
$b4: #d62a16; //red suit
$b5: #9ffbf0; //sky blue


@mixin pixelmatic-lr($art, $size: 10px){
  display: block;
  height: $size;
  width: $size;
  $shadow: 0 0 transparent;
  @for $y from 1 through length($art){
    @for $x from 1 through length(nth($art, $y)){
      $shadow: $shadow
      + ", " + 
      ($x * $size)
      + " " + 
      ($y * $size) 
      + " " + 
      nth(nth($art, $y), $x) ;
    }
  }
  box-shadow: unquote($shadow);
}
@mixin pixelmatic-ud($art, $size: 10px){
  display: block;
  height: $size;
  width: $size;
  $shadow: 0 0 transparent;
  @for $x from 1 through length($art){
    @for $y from 1 through length(nth($art, $x)){
      $shadow: $shadow
      + ", " + 
      ($x * $size)
      + " " + 
      ($y * $size) 
      + " " + 
      nth(nth($art, $x), $y) ;
    }
  }
  box-shadow: unquote($shadow);
}

$mario1: 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b0 $b1 $b1 $b1 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b4 $b4 $b4 $b4 $b4 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b3 $b3 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b3 $b1, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b1, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b0, 
  $b0 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b1 $b1 $b4 $b3 $b3 $b4 $b4 $b3 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b1 $b4 $b4 $b3 $b3 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b1 $b4 $b4 $b3 $b3 $b4 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b1 $b4 $b3 $b3 $b4 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b1 $b1 $b1 $b1 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b0 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0,
  ;
$mario2: 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b0 $b1 $b1 $b1 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b4 $b4 $b4 $b4 $b4 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b3 $b3 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b1 $b4 $b4 $b1 $b1 $b0 $b1 $b1 $b1 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b3 $b1, 
  $b1 $b4 $b4 $b3 $b1 $b1 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b1, 
  $b1 $b4 $b3 $b3 $b3 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b0, 
  $b1 $b3 $b3 $b3 $b4 $b4 $b1 $b1 $b1 $b3 $b3 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b0 $b1 $b3 $b4 $b4 $b4 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b1 $b1 $b4 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b0 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0,
  ;
$mario3: 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b0 $b1 $b1 $b1 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b4 $b4 $b4 $b4 $b4 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b4 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b1 $b1 $b3 $b3 $b3 $b1 $b3 $b1 $b3 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b1 $b3 $b3 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b3 $b3 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b0 $b0 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b3 $b1, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b1 $b1 $b3 $b3 $b1, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b3 $b3 $b3 $b3 $b3 $b1 $b4 $b4 $b4 $b1 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b3 $b3 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b0 $b0 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b0 $b1 $b1 $b3 $b3 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b3 $b3 $b1 $b1 $b3 $b1 $b0 $b0, 
  $b0 $b0 $b1 $b4 $b4 $b3 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b1 $b4 $b4 $b4 $b4 $b1 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0, 
  $b0 $b1 $b3 $b4 $b4 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0, 
  $b1 $b3 $b3 $b3 $b4 $b1 $b4 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b1 $b4 $b3 $b3 $b3 $b1 $b4 $b4 $b1 $b4 $b4 $b1 $b1 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b1 $b4 $b4 $b3 $b1 $b0 $b1 $b1 $b0 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0, 
  $b0 $b1 $b1 $b1 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0 $b0,
  ;
.row{
  width: $size*26;
  height: $size*30;
  margin: 0 auto;
  position: absolute;
  top: 37%;
    left: 43%;
    text-align: center;
}
.mario {
  margin-bottom: 171px;
  @include pixelmatic-lr($mario1, $size);
  animation: fly $tick infinite;
}

@keyframes fly {
  0% { @include pixelmatic-lr($mario1, $size);}
  33% { @include pixelmatic-lr($mario2, $size);}
  66% { @include pixelmatic-lr($mario3, $size);}
}

