.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;

}

.interactions {
  margin-top: 22px;
  border: 5px solid;
  border-radius: 6px;
  padding: 15px;
  font-size: 22px;
  width: 90%;
}